:root {
  --primary: #222831;
  --secundary: #393E46;
  --blue-light: #0dbac4;
  --blue: #00ADB5;
  --blue-dark: #04868d;
  --white: #EEEEEE;

  --footer-height: 64px;
  --footer-border: rgba(255, 255, 255, 0.12);
}
